body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    text-align: center;
    width: 100%;
    background-color: rgb(190, 164, 214);
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 2vw 1vw;
    background-color: rgb(250, 194, 194);
    border-radius: 0 0 10px 10px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .form-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
    flex-grow: 1;
  }
  
  /* .label-wrapper {
    margin-bottom: 10px;
  } */
  
  .input-wrapper {
    margin-bottom: 10px;
    flex-grow: 1;
  }
  
  input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
    flex-grow: 1;
  }
  .label-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  